<section>
    <div class="main-sct">
        <div class="main-sct-2">
            <p class="main-title">VINCENT PIZZA</p>
            <p class="main-lemma">MAKING PEOPLE HAPPY</p>
            <a class="main-btn" href="#menu-section">ORDER NOW</a>
        </div>
        <div class="main-sct-3">
            <img src="./assets/images/pizzaload2.png" alt="PIZZA">
        </div>
    </div>
</section>
<section>
    <div class="services-sct">
        <div class="services-sct-2">
            <img src="./assets/images/icon_1.png" alt="Services Image">
            <div class="services-sct-3">
                <h2>Servis 1</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, adipisci.</p>
            </div>
        </div>
        <div class="services-sct-2">
            <img src="./assets/images/icon_2.png" alt="Services Image">
            <div class="services-sct-3">
                <h2>Servis 1</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, adipisci.</p>
            </div>
        </div>
        <div class="services-sct-2">
            <img src="./assets/images/icon_3.png" alt="Services Image">
            <div class="services-sct-3">
                <h2>Servis 1</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, adipisci.</p>
            </div>
        </div>

    </div>
</section>

<section id="menu-section">
    <div class="menu-sct">
        <h2>DISCOVER OUR MENU</h2>
        <!-- <ul>
            <li><a class="active" id="option1">PIZZAS</a></li>
            <li><a id="option2">PASTAS</a></li>
            <li><a id="option3">DRINKS</a></li>
        </ul> -->
        <div class="menu-items-wrap">
            <div class="menu-item-card">
                <a href="" class="menu-item-sct-link">PIZZAS</a>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/2.jpg" alt="pizza1-img" class="menu-item-img">
                </div>
            </div>
            <div class="menu-item-card">
                <a href="" class="menu-item-sct-link">PASTAS</a>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/6.jpg" alt="pasta1-img" class="menu-item-img">
                </div>
            </div>
            <div class="menu-item-card">
                <a href="" class="menu-item-sct-link">DRINKS</a>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/11.jpg" alt="drink1-img" class="menu-item-img">
                </div>
            </div>
        </div>      
    </div>
</section>

