<div class="navbar">
    <div id="logo" class="logo hide">
        <p class="logo-pizza">* PIZZA *</p>
        <p class="logo-title">VINCENT</p>
        <p class="logo-year">1890</p>
        <p class="logo-lemma">FAMILY PIZZERIA</p>
    </div>
</div>

<nav class="navbar">
    <div class="menu-pad">
        <ul>
            <li>
                <p>VINCENT PIZZA</p>
            </li>
            <li><i id="btn-pad">☰</i></li>
        </ul>
    </div>
    <div id="menu" class="menu-bar hide">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#menu-section">MENU</a></li>
            <li><a href="#shop">SHOP</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="#about">ABOUT</a></li>
        </ul>
    </div>
</nav>
